*.root
build/
doc/html/
doc/latex/
tutorial/bin/
tutorial/plots/
tutorial/root/
.DS_Store
alphacombo/
belle2/
belle2_Vub/
CompatibilityOfResultsOnSubsets/
biggammacombo/
bsmumu/
bs24mu/
bs24mu_poisson
gammacombo/
hfag/
hfag_wa_gamma/
GammaComboManual/
Vub_Vcb/
BcToDD/
Rd_Rdst/
ReImPlots/
RhoEta/
RizwaanPartIII/
CombinedBeautyAndCharm/
commit_msg
fullModel.dot
scripts/*_C.d
scripts/*_C.so
scripts/*_rdict.pcm
nbproject
.cproject
.project
