*.root
doc/html/
doc/latex/
tutorial/bin/
tutorial/plots/
tutorial/root/
.DS_Store
alphacombo/
belle2/
belle2_Vub/
CompatibilityOfResultsOnSubsets/
biggammacombo/
bsmumu/
bs24mu/
bs24mu_poisson
gammacombo/
hfag/
hfag_wa_gamma/
GammaComboManual/
Vub_Vcb/
BcToDD/
Rd_Rdst/
ReImPlots/
RhoEta/
RizwaanPartIII/
CombinedBeautyAndCharm/
fullModel.dot
scripts/*_C.d
scripts/*_C.so
scripts/*_rdict.pcm
scripts/__pycache__

# backup files
*~
.*.swp

# build products
InstallArea/

# Centrally managed files and helpers
cache_preload.cmake
toolchain.cmake
Makefile

# CMake temporary files
build*/
.build/
CMakeFiles/
CTestTestfile.cmake
CPackSourceConfig.cmake
CPackConfig.cmake
cmake_install.cmake
Testing/

# common byproducts
*.pyc
*.pyo
DoxyWarnings.log
.gdb_history
*.new
.coverage
*.patch
*.launch
*.launch.py
*.launch.opts
*_cache

# QMTest byproducts
**/tests/qmtest/*.*
!**/tests/qmtest/*.qms
!**/tests/qmtest/*.qmt

# Metadata used by IDEs
# - Eclipse
.project
.cproject
.settings
.pydevproject
.eclipse/
# - QtCreator
CMakeLists.txt.user
# - VSCode
.vscode/
