*.root
build/
doc/html/
doc/latex/
tutorial/bin/
tutorial/plots/
tutorial/root/
.DS_Store
belle2/
belle2_Vub/
CompatibilityOfResultsOnSubsets/
biggammacombo/
bsmumu/
gammacombo/
hfag/
hfag_wa_gamma/
GammaComboManual/
Vub_Vcb/
commit_msg
fullModel.dot
nbproject
.cproject
.project
